<?php


$this->mainMenu()->setActiveItemId('home');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home')
]);

?>
<div class="col-md-6">
    <table class="table table-responsive">
        <tr>
            <td colspan="3"><h1><?= $news['headerText'] ?></h1></td>
        </tr>
        <tr>
            <td colspan="2"><a href="<?= $news['link'] ?>">Source</a></td>
        </tr>
        <? if (!empty($news['image'])) { ?>
            <tr>
                <td colspan="3"><img src="<?= $news['image'] ?>"></td>
            </tr> <? } ?>
        <tr>
            <td colspan="3"><?= $news['fullText'] ?></td>
        </tr>
        <tr><td colspan="3"><a class="btn btn-block" href="
    <?= $this->url('application', ['action' => 'index']); ?>">
                    &lt;&lt; Back to list of news
                </a></td></tr>
    </table>

</div>






