<?php
$this->headTitle('Welcome');

$this->mainMenu()->setActiveItemId('home');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home')
]);
?>

<h1>News</h1>

<? if (!$empty) { ?>

        <table class="table table-responsive">
            <?php foreach ($newsFromRbk as $news): ?>
                <tr>
                    <td><h4><?=$this->escapeHtml($news["litleText"])?></h4></td>
                   <td><a class="btn btn-primary" href="<?= $this->url('view', ['id' => $news["id"]]); ?>">See more</a></td> </tr>
            <?php endforeach; ?>

        </table>

<? } ?>

